/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

table td, th{
  padding: 5px;
}
img{
  text-align: center;
}

#msg {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: aliceblue;
  opacity: 0.8;
  text-align: center;
  padding: 5px;
  font-size: 1.25em;
}

.container{		
       width: 75%;
       margin:auto; 
		   padding:10px; 
		   background-color: aliceblue;
		   min-height: 600px;
}

.wrapperCentered{   
    text-align: center;
}

#slideshow {
    position:relative;
    height:350px;
}


#slideshow IMG {
    position: absolute;
    top: 0;
    left: 32%;
    margin-left: auto;
    z-index: 8;
    border: thick solid;
    border-color: bisque;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

.items {
  border: thin solid;
  border-color: #d3d3d3;
  border-radius: 10px;
  padding: 10px;
}

.nested-fields{
  padding: 10px;
  border-bottom: thin solid;
  border-color: #d3d3d3;
}

.simple_form div.input {
  margin-bottom: 10px;
  clear: both;
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
  color: #337ab7;
  background-color: aliceblue;
  border: none;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}
