
= simple_form_for @sale  do |f|
	
	=f.association :client, default: :first

	= f.simple_fields_for :items do |i|
		= render 'item_fields', f: i

	=link_to_add_association 'Add Item', f , :items
	<br>
	<br>
	=f.submit
	