= simple_form_for @sale, html: { id: 'sale-form' }  do |f|
	= f.association :client, :as => :collection_select, collection: Client.where('rep_id = ?',current_rep.id), default: :first

	.items
		= f.simple_fields_for :items do |i|
			= render 'item_fields', f: i

	=link_to_add_association 'Add Item', f , :items, {'data-association-insertion-node' => '#sale-form .items', 'data-association-insertion-method' => 'append'}
	
	=f.submit 'Save'
