
%h3 Client: #{@client.name}
%p Date: #{@date}
%table
	%tbody
		%tr
			%th Product 
			%th Price 
			%th Quantity 

		- @items.each do |item|
			%tr
				%td=item.product.name
				%td=item.price
				%td=item.quantity

%h3 Total: $#{@total}

= link_to "Delete", sale_path, method: :delete, data: {confirm: "Are you sure?" }

